:root {
    --dark-bg: #0d0d0d;
    --card-bg: #1a1a1a;
    --navbar-height: 56px;

    --theme-primary-1: #00f2ff;
    --theme-primary-2: #00C7D2;
    --theme-primary-3: #009DA6;
    --theme-primary-4: #007980;
    --theme-primary-5: #005459;
    --theme-primary-6: #002E31;
    --theme-primary-7: #000D0E;

    --theme-secondary-1: #DEEBFF;
    --theme-secondary-2: #9FC5FF;
    --theme-secondary-3: #5D9CFF;
    --theme-secondary-4: #0072FF;
    --theme-secondary-5: #0052BC;
    --theme-secondary-6: #003278;
    --theme-secondary-7: #00153B;

    --theme-tertiary-1: #00FF8D;
    --theme-tertiary-2: #00D273;
    --theme-tertiary-3: #00A65A;
    --theme-tertiary-4: #008044;
    --theme-tertiary-5: #00592D;
    --theme-tertiary-6: #003217;
    --theme-tertiary-7: #000F04;

    --theme-mono-1: #edeff0;
    --theme-mono-2: #C2C9CC;
    --theme-mono-3: #9BA3A8;
    --theme-mono-4: #7B8285;
    --theme-mono-5: #595F61;
    --theme-mono-6: #383B3D;
    --theme-mono-7: #191B1C;

    --neon-teal: var(--theme-primary-1);
    --neon-dark-blue: var(--theme-secondary-7);
    --neon-blue: var(--theme-secondary-4);
    --neon-green: var(--theme-tertiary-1);
    --gray: var(--theme-mono-5);
}

section{
    scroll-margin-top: var(--navbar-height);
}

body {
    background-color: var(--dark-bg);
    color: #fff;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Offset for fixed navbar */
}

.navbar {
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: opacity 0.3s ease-in-out;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

.navbar.hidden {
    opacity: 0.5;
}

.navbar.hidden:hover {
    opacity: 1;
}

.circuit-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    opacity: 0.2;

    background-image: url("../img/hero\ bg.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    /* background-attachment: fixed; */
    background-size: cover;
    scale: 1;
}

#hero {
    /* background: linear-gradient(135deg, #0d0d0d, #1a1a1a); */
    position: relative;
    height: 100vh;
    overflow: hidden;
    pointer-events: none;
    /* Prevent pattern from overflowing */
}

#hero-bg {
    position: absolute;
    inset: 0;
    /* pointer-events: none; */
    z-index: 0;
    pointer-events: all;
}

.text-neon {
    color: var(--neon-teal);
    text-shadow: 0 0 5px var(--neon-teal);
}

.card {
    transition: 0.3s;
    border: 1px solid transparent;
}

.card:hover {
    transform: translateY(-5px);
    border-color: var(--neon-teal);
    box-shadow: 0 0 10px rgba(0, 242, 255, 0.5);
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.fade-in.is-visible {
    opacity: 1;
    transform: translateY(0);
}

section#about {
    div#about-text {
        font-size: 1.2em;
        line-height: 24px;
        @media (min-width:992px) {
            max-width: 500px;
        }
    }

    div#skills-container {
        position: relative;
        width: 420px;
        height: 450px;
    }

    div#skills-container>* {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        width: 240px;
        height: 240px;
    }

    svg {
        overflow: visible;
    }

    .skill-circle-selected circle {
        /* fill: var(--theme-tertiary-2); 
        stroke:var(--theme-mono-2); */

        fill: var(--theme-tertiary-7);
        stroke: var(--neon-green);

        fill-opacity: 1;
        stroke-width: 4;
        stroke-linecap: round;
        opacity: 0;
    }

    .skill-circle-animated circle {
        fill: var(--neon-dark-blue);
        fill-opacity: 0;
        stroke: var(--neon-teal);
        stroke-width: 7;
        stroke-linecap: round;

        /*
        r = 100
        circumference ≈ 628.3
        */
        stroke-dasharray: 628.3;
        stroke-dashoffset: 628.3;

        /*
        Starts at the top of the circle
        */
        transform: rotate(-90deg);
        transform-origin: center;
    }

    div#div-all-skills {}

    #div-all-skills div.div-skills {
        position: absolute;
        left: 50%;
        top: 50%;
        translate: -50% -50%;
        opacity: 0;
        transition: translate 0.5s
    }

    div.div-skills i{
        font-size: 50px;
    }

    div.div-skills span{
        font-size: 14px;
    }

    #skill-description {
        display: inline-block;
        color: var(--theme-primary-2);
        font-weight: 600;
        font-size: 1.5em;
        height: 1.5em;
    }

    .skill-bar-svg {
        width: 150px;
    }

    line.skill-bar {
        stroke-width: 3;
        stroke-dasharray: 17 4;
    }

    line.skill-bar-level {
        stroke: var(--neon-green);
    }

    line.skill-bar-empty {
        stroke: var(--gray);
        opacity: 0;
    }
}

footer {
    background-color: var(--theme-mono-4);

    a {
        text-decoration: none;
    }

    .icon {
        width: 2em;
        height: 2em;
        /* vertical-align: -0.125em; */
    }
}